<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <title>Admin Dashboard</title>
</head>
<body>
    <main>
        <section id="section-1-sb">
            <div class="container" id="sb-container-1">
                <a asp-controller="ProductAdmin" asp-action="Index" class="btn" id="sb-container-1-btn">Manage Products</a>
                <a asp-controller="CategoryAdmin" asp-action="Index" class="btn" id="sb-container-1-btn">Manage Categories</a>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>
